@import "reset-styles";

/*
* ==========================================
* FONTS
* ==========================================
*/

@font-face {
  font-family: 'Proxima Nova';
  src: url('../data/fonts/Proxima Nova/proxima-nova-webfont.woff2') format('woff2'),
  url('../data/fonts/Proxima Nova/proxima-nova-webfont.woff') format('woff'),
  url('../data/fonts/Proxima Nova/proxima-nova-webfont.ttf') format('truetype'),
  url('../data/fonts/Proxima Nova/proxima-nova-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../data/fonts/Proxima Nova/proxima-nova-italic-webfont.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../data/fonts/Proxima Nova Light/proxima_nova-light-webfont.woff2') format('woff2'),
  url('../data/fonts/Proxima Nova Light/proxima_nova-light-webfont.woff') format('woff'),
  url('../data/fonts/Proxima Nova Light/proxima_nova-light-webfont.ttf') format('truetype'),
  url('../data/fonts/Proxima Nova Light/proxima_nova-light-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std Bold';
  src: url('../data/fonts/Letter Gothic Std Bold/Letter-Gothic-Std-Bold.ttf') format('ttf'),
  url('../data/fonts/Letter Gothic Std Bold/Letter-Gothic-Std-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std Bold';
  src: url('../data/fonts/Letter Gothic Std Bold/Letter-Gothic-Bold-Italic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Letter Gothic Std Medium';
  src: url('../data/fonts/Letter Gothic Std Medium/Letter-Gothic-Std-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
* ==========================================
* GLOBAL STYLES, MIXINS AND VARIABLES
* ==========================================
*/

@mixin flex($flex-direction: initial, $justify-content: initial, $align-items: initial) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

$peach: rgb(255, 90, 61);
$pink: rgb(255, 30, 172);

.underlined {
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.1s ease-in-out;
}

.underlined:hover {
  border-bottom: 1px solid transparent;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html::-webkit-scrollbar {
  width: 0;
  background-color: #f9f9fd;
}

.text-wrapper_bold-white {
  margin-top: 14rem;
  margin-bottom: 5rem;
  width: 100%;
  @include flex(row, center, center);
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: "Proxima Nova", sans-serif
}

.brand-name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Letter Gothic Std Bold', sans-serif;
}

.locked {
  overflow: hidden;
}

/*
* ==========================================
* FIRST PART STYLES
* ==========================================
*/

.first-part {
  z-index: 10;
  position: relative;
}

/*
* ==========================================
* MAIN-MENU STYLES
* ==========================================
*/

.menu {
  z-index: 1000;
  font-family: "Proxima Nova", sans-serif;

  width: 100%;
  height: 100vh;
  @include flex(row);

  &__area {
    display: flex;
    align-items: center;
    flex: 1;

    &-left {
      justify-content: flex-start;
      padding-left: 5rem;

      & .menu__item {
        transform: rotate(-90deg);
      }
    }

    &-right {
      justify-content: flex-end;
      padding-right: 5rem;

      & .menu__item {
        transform: rotate(90deg);
      }
    }
  }

  &__items {
    height: 100%;
    @include flex(column, space-evenly);
  }

  &__item {
    cursor: pointer;
    color: white;
    font-size: 20px;
  }

}

.menu {
  &.fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
  }

  &.sticky-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}

/*
* ==========================================
* MAIN-SECTION STYLES
* ==========================================
*/

.main-section {
  position: relative;
  visibility: visible;

  &_hidden {
    visibility: hidden;
  }

  &__full-screen {
    background-color: #ff401e;
  }
}

/* full-screen wrapper for video */

.full-screen {
  position: relative;
  min-height: 150vh;

  &__wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* wrapper for brand-logo */

.main-section {
  &__brand-wrapper {
    position: fixed;
    top: -65px;
    left: 0;
    width: 100%;
    height: 100%;

    @include flex(initial, center, center);
  }

  &__brand {
    width: 550px;
  }
}

/* text under the brand logo */

.main-section {
  &__text {
    height: 50px;
    width: 200px;
    @include flex(column, center, center);
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 6rem;
  }

}

.en-version-link {
  color: white;
  font-size: 20px;
  font-family: 'Letter Gothic Std Medium', sans-serif;
}


/*
* ==========================================
* ABOUT-SECTION STYLES
* ==========================================
*/

.about-section {
  padding-top: 10rem;
  padding-bottom: 1px; // to avoid margin collapsing
  position: relative;
  background-color: $peach;

  &__taglines {
    margin-top: 20rem;
  }

  & .taglines__item {
    margin-bottom: 15rem;
  }
}

/* team header */

.team-header-container {
  top: 5rem;
  padding-bottom: 3.5rem;
  position: absolute;
  width: 100%;
  height: 65%;
  @include flex(row, center, flex-start);
}

.team-header {
  top: 1.5rem;
  position: sticky;
  @include flex(row, center, center);

  &__item {
    letter-spacing: 1px;
    font-family: "Proxima Nova", sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &__brand-wrapper {
    width: 200px;
  }

  &__name, &__post {
    color: white;
    @include flex(column, center, center);
  }

  &__name {
    font-size: 18px;
  }
}

/* vertical stripes */

.stripe {
  opacity: 0;
  height: 80vh;
  width: 1px;
  background-color: white;

  &.fixed {
    position: fixed;
    top: 15rem;
  }

  &.absolute {
    position: absolute;
    top: initial;
    bottom: 0;
  }
}

/* taglines */

.taglines {
  @include flex(column, center, center);
  color: white;
  font-family: "Proxima Nova", sans-serif;

  &__item {
    @include flex(column, center, center);
  }

  &__text {
    @include flex(column, center, center);

    &_bold {
      font-size: 1.7rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
    }

    &_light {
      font-size: 1rem;
      font-family: "Proxima Nova Light", sans-serif;
      letter-spacing: 1px;
    }
  }
}

.team-image {
  width: 100%;
  margin-bottom: 20rem;
  @include flex(initial, center, center);

  & img {
    width: 50%;
  }
}

/*
* ==========================================
* SLIDER-SECTION STYLES
* ==========================================
*/

.slider-wrapper {
  overflow: hidden;
  background-color: black;
}

.slider {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider.active {
  position: fixed;
  top: 0;
  left: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  overflow: hidden;

  &.current {
    position: fixed;
  }

  &__content {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;

    & video {
      opacity: 0.4;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    z-index: 2000;
    position: absolute;
    @include flex(column, flex-start, center);
    width: 60%;
    height: 100%;

    &.animate {
      animation: fade-up 2s forwards;
    }
  }

  &__brand-wrapper {
    z-index: 1;
    width: 100%;
    @include flex(column, center, center);

    & .brand-name {
      font-size: 15px;
    }
  }

  &__brand {
    width: 190px;
  }

  &__logo {
    width: 400px;
  }

  &__logo object {
    width: 100%;
    height: 100%;
  }

  &__separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    height: 1px;
    background-color: white;
  }

  &__text {
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.3rem;
    text-align: center;
  }
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include flex(row, space-around, center);
  width: 80%;

  &__item {
    height: 50px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: all 0.08s ease-in-out;
    @include flex(row, center, center);

    & img {
      margin-right: 10px;
    }
  }

  & a {
    text-decoration: none;
  }

  & a:first-child &__item {
    width: 270px;
  }

  & a:last-child &__item {
    width: 200px;
  }

  &__item.red:hover {
    background-color: rgba(255, 64, 30);
    border: 2px solid rgba(255, 64, 30);
  }

  &__item.blue:hover {
    background-color: rgba(4, 72, 204);
    border: 2px solid rgba(4, 72, 204);
  }
}

/* map the music section */

.slide[data-index="0"] {
  .slide__content {
    background-color: #aeaeff;
  }
}

/* lavka section */

.slide[data-index="1"] {
  .slide__content {
    background-color: #e62a2a;
  }
}

/* shu section */

.slide[data-index="2"] {
  .slide__content {
    background-color: #e6b52a;
  }
}

/* gold-standart section */

.slide[data-index="3"] {
  .slide__content {
    background-color: #e62a2a;
  }

  .slide__logo {
    width: 500px;
  }

  .slide__brand-wrapper {
    margin-top: 0;
  }
}

/* teriberka section */

.slide[data-index="4"] {
  .slide {
    &__content {
      background-color: #8888e3;
    }

    &__logo {
      width: 300px;
    }
  }
}

/* clients section */

.slide[data-index="5"] {
  height: 220vh;
}

.clients-section {
  padding-top: 10rem;
  height: 100%;
  background-color: #ff401e;
  @include flex(column, center, center);

  &__brand-wrapper {
    width: 100%;
    @include flex(column, center, center);

    &.fixed {
      position: fixed;
      top: 20px;
    }

    &.absolute {
      position: absolute;
      top: initial;
    }

    & .brand-name {
      font-size: 15px;
    }
  }

  &__brand {
    width: 170px;
  }

  & .text-wrapper_bold-white {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }
}

.clients {
  margin-top: 2rem;
  height: 80%;
  width: 60%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  &__item {
    @include flex(row, center, center);

    & img {
      width: 5%;
    }

    & object {
      width: 70%;
    }
  }
}

/* reviews section */

.slide[data-index="6"] {
  height: 400vh;
}

.reviews-section {
  border-bottom: 6px solid #ff401e;
  height: 100%;
  background-color: black;
  @include flex(column, flex-start, center);

  &__brand-wrapper {
    width: 100%;
    @include flex(column, center, center);

    &.fixed {
      position: fixed;
      top: 20px;
    }

    &.absolute {
      position: absolute;
      top: initial;
    }

    & .brand-name {
      font-size: 15px;
    }
  }

  &__brand {
    width: 170px;
  }
}

.reviews {
  width: 50%;
  height: 80%;
  @include flex(column, flex-start, center);

  &__item {
    margin-bottom: 6rem;
  }

  &__text {
    color: white;
    font-size: 31px;
    font-family: "Proxima Nova", sans-serif;
    font-style: italic;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  &__client {
    @include flex(row, flex-start, center);

    & img {
      margin-right: 2rem;
      width: 150px;
    }
  }
}

.client {
  &__name {
    color: #ff401e;
  }

  &__data {
    color: white;
    font-size: 14px;
    font-family: "Proxima Nova", sans-serif;
    text-align: left;
    @include flex(column, flex-start, flex-start);
  }
}

/* Contacts section */

.slide[data-index="7"] {
  height: 100vh;
}

.contacts-section {
  @include flex(column, center, center);

  & a {
    text-decoration: none;
    color: #ff401e;
  }

  &__content {
    z-index: 1000;
    position: absolute;
    top: 6rem;
    height: 80%;
    width: 60%;
    @include flex(column, center, center);
  }

  &__brand-wrapper {
    margin-top: 2rem;
    z-index: 10;
    width: 100%;
    @include flex(column, center, center);

    & .brand-name {
      font-size: 15px;
    }
  }

  &__brand {
    width: 170px;
    height: 100px;
  }

  &__text {
    margin-bottom: 1rem;
    color: white;
    font-size: 28px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
  }

  &__email {
    margin-bottom: 1rem;
    font-size: 50px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #ff401e;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom: 3px solid transparent;
    }
  }

  &__number {
    margin-bottom: 1rem;
    font-size: 25px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    cursor: pointer;
  }
}

.socials {
  @include flex(row, space-around, center);
  width: 35%;

  &__item {
    @include flex(row, center, center);
    height: 50px;
    width: 50px;
    font-size: 35px;
    cursor: pointer;

    & a {
      transition: all 0.2s ease-in-out;
      color: white;
    }

    & a:hover {
      color: #ff401e;
    }
  }
}

/* keyframes */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

/*
* ==========================================
* STYLES FOR MOBILE DEVICES
* ==========================================
*/

$hamburger-size: 60px;
$hamburger-indent: 30px;
$hamburger-item-width: 25px;
$hamburger-item-height: 3px;
$hamburger-item-space: 12px;

$exit-button-size: 30px;
$exit-button-item-width: 15px;
$exit-button-item-height: 2px;

.hamburger {
  z-index: 9999;
  position: fixed;
  right: $hamburger-indent;
  top: $hamburger-indent;

  width: $hamburger-size;
  height: $hamburger-size;
  background-color: white;
  border-radius: 50%;

  @include flex(column, center, center);

  &__item {
    height: $hamburger-item-height;
    width: $hamburger-item-width;
    background-color: #ff401e;
    border-radius: 20px;

    &:after, &:before {
      content: '';
      position: absolute;
      height: $hamburger-item-height;
      width: $hamburger-item-width;
      background-color: #ff401e;
      border-radius: 20px;
    }

    &:after {
      transform: translateY($hamburger-item-space);
    }

    &:before {
      transform: translateY(-$hamburger-item-space);
    }
  }
}

.m-menu-wrapper {
  @include flex(column, center, center);
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(23, 23, 26, .9);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.m-menu {
  position: relative;
  padding: 20px 0;
  width: 280px;
  height: 200px;
  background-color: rgb(255, 90, 61);
  border-radius: 10px;
  @include flex(column, space-evenly, center);

  &__item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid white;
    transition: all 0.1s ease-in-out;
  }
}

.exit-button {
  @include flex(column, center, center);
  position: absolute;
  top: -$exit-button-size / 2;
  right: -$exit-button-size / 2;
  background-color: #3d3d3d;
  width: $exit-button-size;
  height: $exit-button-size;
  border-radius: 50%;

  &__item {
    position: absolute;
    width: $exit-button-item-width;
    height: $exit-button-item-height;
    background-color: white;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.mobile {
  &__brand-wrapper {
    position: relative;
    width: 100%;
    @include flex(column, center, center);
  }

  &__brand {
    width: 300px;
  }
}

/* ---------- ABOUT SECTION START ---------- */

.m-about {
  background-color: #ff401e;
  padding-top: 3rem;

  &__taglines {
    margin-top: 5rem;
  }

  & .taglines__item {
    margin-bottom: 2.5rem;
  }

  &__photo {
    width: 100%;
  }

  &__photo img {
    width: 100%;
  }
}

/* ---------- ABOUT SECTION END ---------- */

/* ---------- PROJECTS SECTION START ---------- */

.m-project-content {
  @include flex(column, center, center);
  position: relative;
  width: 100%;

  &__logo {
    margin-top: 6rem;
    width: 400px;
  }

  &__logo object {
    width: 100%;
    height: 100%;
  }

  &__separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    height: 1px;
    background-color: white;
  }

  &__text {
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.3rem;
    text-align: center;
  }

  &__buttons {
    @include flex(column, space-around, center);
    width: initial;
    height: 180px;
  }

  &__buttons .buttons__item {
    width: 350px;
    height: 60px;
    border: 3px solid white;
    font-size: 1.7rem;

    & a {
      color: white;
      text-decoration: none;
    }
  }
}

.m-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.m-background img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.m-music {
  &__m-background {
    background-color: rgb(142, 170, 213);
  }
}

.m-lavka {
  &__m-background {
    background-color: rgb(255, 64, 30);
  }
}

.m-shu {
  &__m-background {
    background-color: rgb(255, 187, 30);
  }
}

.m-gold {
  &__m-background {
    background-color: rgb(255, 64, 30);
  }

  & .m-project-content__logo {
    width: 200px;
  }
}

.m-teriberka {
  &__m-background {
    background-color: #1eacff;
  }
}

/* ---------- PROJECTS SECTION END ---------- */

/* ---------- CLIENTS SECTION START ---------- */

.m-clients {
  background-color: rgb(255, 64, 30);
  @include flex(column, center, center);

  &__text {
    margin-top: 4rem;
  }

  & .clients {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 180px);
    width: 90%;
    margin-bottom: 3rem;

    &__item object {
      width: 45%;
    }

    &__item:first-child object {
      width: 50%;
    }

    &__item:nth-child(3) object { // lion
      width: 60%;
    }

    &__item:nth-child(11) object { // kraft flowers
      width: 60%;
    }

    &__item:last-child {
      display: none;
    }
  }


}

/* ---------- CLIENTS SECTION END ---------- */

/* ---------- REVIEWS SECTION START ---------- */

.m-reviews {
  background-color: black;
  @include flex(column, center, center);

  &__text {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  & .reviews {
    width: 70%;

    &__client {
      flex-direction: column;
      align-items: flex-start;
    }

    .client {
      & img {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      &__data {
        font-size: 20px;
      }
    }
  }
}

/* ---------- REVIEWS SECTION END ---------- */

/* ---------- CONTACTS SECTION START ---------- */

.m-contacts {
  background-color: black;

  &__brand-wrapper {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  & .contacts-section {
    &__content {
      position: relative;
      top: 0;
      width: 70%;
    }

    &__text {
      font-size: 22px;
    }

    &__email {
      font-size: 38px;
    }

    &__number {
      color: white;
      font-size: 20px;
    }

    &__socials {
      color: white;
    }

    &__socials .socials__item:hover {
      color: #ff401e;
    }

    &__socials .socials__item:active {
      color: #ff401e;
    }
  }

  & .socials {
    width: 100%;

    &__item {
      height: 100px;
      width: 100px;
      font-size: 40px;
    }
  }

}


/* ---------- CONTACTS SECTION END ---------- */


/*
* ==========================================
* MEDIA QUERIES
* ==========================================
*/

@media screen and (max-width: 575.98px) {
  .first-part, .slider-section {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .m-projects {

    & .m-project-content__logo {
      width: 310px;
    }

    & .m-project-content__buttons .buttons__item {
      font-size: 1.3rem;
      width: 275px;
      height: 50px;
    }

    & .m-project-content__text {
      font-size: 1rem;
    }

    & .taglines__text_bold {
      font-size: 1.5rem;
    }
  }

  .m-contacts {
    & .contacts-section__content {
      width: 65%;
    }

    & .contacts-section__text {
      font-size: 18px;
    }

    & .contacts-section__email {
      font-size: 35px;
    }

    & .contacts-section__number {
      font-size: 18px;
    }

    & .socials__item {
      font-size: 45px;
    }
  }

  .m-reviews {
    & .reviews__text {
      font-size: 24px;
    }

    & .reviews .client__data {
      font-size: 15px;
    }
  }

}

@media screen and (min-width: 576px) {
  .first-part, .slider-section {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1399.98px) {
  .reviews {
    width: 60%;

    &__item {
      margin-bottom: 8rem;
    }

    &__text {
      font-size: 35px;
    }

    &__client img {
      width: 200px;
    }
  }

  .client__data {
    font-size: 20px;
  }
}

@media screen and (min-width: 1899.98px) {
  .slide__brand-wrapper {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .slide[data-index="3"] {
    & .slide {
      &__brand-wrapper {
        margin-top: 7rem;
      }

      &__logo {
        width: 700px;
      }
    }
  }

  .slide__brand {
    width: 280px;
  }

  .slide__logo {
    width: 650px;
  }

  .slide__text {
    font-size: 1.8rem;
  }

  .buttons__item {
    height: 75px;
    font-size: 1.6rem;
  }

  .buttons a:first-child .buttons__item {
    width: 370px;
  }

  .buttons a:last-child .buttons__item {
    width: 300px;
  }

  .taglines__text_bold {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .taglines__text_light {
    font-size: 1.5rem;
  }

  .team-header__brand-wrapper {
    width: 270px;
  }

  .team-header__name {
    font-size: 26px;
  }

  .menu__item {
    font-size: 30px;
  }

  .slide[data-index="6"] {
    height: 400vh;
  }

  .text-wrapper_bold-white {
    margin-top: 20rem;
    font-size: 40px;
  }

  .reviews {
    z-index: 1000;

    &__item {
      margin-bottom: 12rem;
    }

    &__text {
      font-size: 40px;
    }

    &__client img {
      width: 280px;
    }

    & a {
      color: white;
    }
  }

  .reviews-section {
    &__brand {
      width: 300px;
    }

    &__brand-wrapper .brand-name {
      font-size: 27px;
    }
  }

  .clients-section {
    &__brand {
      width: 300px;
    }

    &__brand-wrapper .brand-name {
      font-size: 27px;
    }
  }

  .client__data {
    font-size: 30px;
  }

  .contacts-section {
    &__text {
      font-size: 50px;
    }

    &__email {
      font-size: 80px;
    }

    &__number {
      font-size: 50px;
    }

  }

  .socials__item {
    height: 100px;
    width: 100px;
    font-size: 75px;
  }
}
