@charset "UTF-8";
/*
* ==========================================
* RESET STYLES
* ==========================================
*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
* ==========================================
* FONTS
* ==========================================
*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../data/fonts/Proxima Nova/proxima-nova-webfont.woff2") format("woff2"), url("../data/fonts/Proxima Nova/proxima-nova-webfont.woff") format("woff"), url("../data/fonts/Proxima Nova/proxima-nova-webfont.ttf") format("truetype"), url("../data/fonts/Proxima Nova/proxima-nova-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Letter Gothic Std Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Letter Gothic Std Medium"), url("../data/fonts/Letter Gothic Std/LetterGothicStd.woff") format("woff");
}
@font-face {
  font-family: "Letter Gothic Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Letter Gothic Std Bold"), url("../data/fonts/Letter Gothic Std/LetterGothicStd-Bold.woff") format("woff");
}
/*
* ==========================================
* GLOBAL STYLES, MIXINS AND VARIABLES
* ==========================================
*/
.underlined {
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.1s ease-in-out;
}

.underlined:hover {
  border-bottom: 1px solid transparent;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*
* ==========================================
* FIRST PART STYLES
* ==========================================
*/
.first-part {
  z-index: 10;
  position: relative;
}

/*
* ==========================================
* MAIN-MENU STYLES
* ==========================================
*/
.menu {
  z-index: 1000;
  font-family: "Proxima Nova", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
}
.menu__area {
  display: flex;
  align-items: center;
  flex: 1;
}
.menu__area-left {
  justify-content: flex-start;
  padding-left: 10rem;
}
.menu__area-left .menu__item {
  transform: rotate(-90deg);
}
.menu__area-right {
  justify-content: flex-end;
  padding-right: 10rem;
}
.menu__area-right .menu__item {
  transform: rotate(90deg);
}
.menu__items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: initial;
}
.menu__item a {
  color: white;
  font-size: 20px;
}

.menu_fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
}
.menu_sticky-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

/*
* ==========================================
* MAIN-SECTION STYLES
* ==========================================
*/
.main-section {
  position: relative;
  visibility: visible;
}
.main-section_hidden {
  visibility: hidden;
}
.main-section__full-screen {
  background-color: #ff401e;
}

/* full-screen wrapper for video */
.full-screen {
  position: relative;
  min-height: 150vh;
}
.full-screen__wrapper {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.full-screen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* wrapper for brand-logo */
.main-section__brand-wrapper {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.main-section__brand {
  width: 400px;
}

/* text under the brand logo */
.main-section__text {
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 8rem;
}
.main-section__brand-name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Letter Gothic Std Bold", sans-serif;
}

.en-version-link {
  color: white;
  font-size: 20px;
  font-family: "Letter Gothic Std Medium", sans-serif;
}

/*
* ==========================================
* ABOUT-SECTION STYLES
* ==========================================
*/
.about-section {
  padding-top: 10rem;
  padding-bottom: 1px;
  position: relative;
  background-color: #ff5a3d;
}

/* team header */
.team-header-container {
  top: 5rem;
  padding-bottom: 3.5rem;
  position: absolute;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.team-header {
  top: 1.5rem;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-header__item {
  font-family: "Proxima Nova", sans-serif;
  margin-left: 4rem;
  margin-right: 4rem;
}
.team-header__brand-wrapper {
  width: 200px;
}
.team-header__name, .team-header__post {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* vertical stripes */
.stripe {
  opacity: 0;
  height: 80vh;
  width: 1px;
  background-color: white;
}
.stripe_fixed {
  position: fixed;
  top: 15rem;
}
.stripe_absolute {
  position: absolute;
  top: initial;
  bottom: 0;
}

/* taglines */
.taglines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  color: white;
  font-family: "Proxima Nova", sans-serif;
}
.taglines__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}
.taglines__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taglines__text_bold {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}
.taglines__text_light {
  font-size: 1.2rem;
}

.team-image {
  width: 100%;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.team-image img {
  width: 50%;
}

/* test section. should be deleted later */
.test {
  position: relative;
  min-height: 100vh;
  background-color: rebeccapurple;
}

/*
* ==========================================
* SLIDER-SECTION STYLES
* ==========================================
*/
.slider-wrapper {
  overflow: hidden;
  background-color: black;
}

.slider {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider.active {
  position: fixed;
  top: 0;
  left: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.current {
  position: fixed;
}
.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slide__content video {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide__info {
  z-index: 2000;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.slide__brand-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide__brand {
  width: 200px;
}
.slide__logo {
  width: 400px;
}
.slide__logo object {
  width: 100%;
  height: 100%;
}
.slide__separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
  height: 1px;
  background-color: white;
}
.slide__text {
  color: white;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.buttons__item {
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  text-align: center;
  transition: all 0.08s ease-in-out;
}
.buttons__item:first-child {
  width: 270px;
}
.buttons__item:last-child {
  width: 200px;
}
.buttons__item:first-child:hover {
  background-color: #ff401e;
  border: 2px solid #ff401e;
}
.buttons__item:last-child:hover {
  background-color: #0448cc;
  border: 2px solid #0448cc;
}

/* map the music section */
.slide[data-index="0"] .slide__content {
  background-color: #aeaeff;
}

/* lavka section */
.slide[data-index="1"] .slide__content {
  background-color: #e62a2a;
}

/* shu section */
.slide[data-index="2"] .slide__content {
  background-color: #e6b52a;
}

/* gold-standart section */
.slide[data-index="3"] .slide__content {
  background-color: #e62a2a;
}

/* teriberka section */
.slide[data-index="4"] .slide__content {
  background-color: #8888e3;
}
.slide[data-index="4"] .slide__logo {
  width: 300px;
}

/*# sourceMappingURL=main.css.map */
